[Desktop Entry]
Version=1.0
Type=Application
Name=WaterMelon
Name[en]=WaterMelon
GenericName=Web Browser
X-GNOME-FullName=WaterMelon
Comment=Simple Yet Powerful Anti-Detect Browser
Exec=watermelonbrowser %u
Icon=watermelonbrowser
StartupNotify=true
NoDisplay=false
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;application/xhtml+xml;
StartupWMClass=watermelonbrowser
Keywords=browser;web;internet;productivity;